{
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "_": true,
    "uxr": true
  },
  "extends": "eslint:recommended",
  "rules": {
    "curly": "error",
    "eqeqeq": [
      "error",
      "smart"
    ],
    "global-require": "error",
    "quotes": [
      "error",
      "single",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ],
    "semi": "error",
    "space-before-blocks": "error"
  }
}